.row1{
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
}

.row2{
    width: 100%;
    height: 65%;
    margin-top : 5%;
    display: flex;
    flex-direction: column;
}

.category{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    position: sticky;
    justify-content: space-between;
}

.infos{
    width: 100%;
    height: 84%;
    margin-top: 1%;
    overflow-y: scroll;
    align-items: safe center;
    padding-top: 1%;
    padding-left: 1%;
}

.data{
    width: 98%;
    height: 20%;
    background-color: lightgrey;
    border-radius: 10px;
    margin-bottom: 0.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.data-white{
    width: 98%;
    height: 20%;
    background-color: #deffde;
    border-radius: 10px;
    margin-bottom: 0.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.choice{
    display: flex;
    height: 100%;
    width: 32%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
    background-color: #3c742f;
    margin-right: 0.2%;
    font-size: small;
    color: white;
    transition: background-color 0.5s ease;
}

.choice:active{
    background-color: #3c742f;
    background-image: linear-gradient(to right, #c3c3c34a, #3c742f);
}

.choice-white{
    display: flex;
    height: 100%;
    width: 32%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
    background-color: #93bd93;
    margin-right: 0.2%;
    font-size: small;
    color: white;
    transition: background-color 0.5s ease;
}

.choice-white:active{
    background-color: #93bd93;
    background-image: linear-gradient(to right, #c3c3c34a, #93bd93);
}

.no-choice{
    display: flex;
    height: 100%;
    width: 32%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #c3c3c34a;
    margin-right: 0.2%;
    font-size : small
}

.choice:hover{
    cursor: pointer;
}

.no-choice:hover{
    cursor: pointer;
}





::-webkit-scrollbar {
    display: none;
}



.col1{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col1:hover{
    cursor: pointer;
}


.col{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #8080803d;
}

.col2{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

.username{
    font-family: fantasy;
    font-size: x-large;
    margin-top: 4%;
}

.number-dark{
    font-size: xxx-large;
    padding-bottom: 0%;
    color: rgb(60,116,47);
    font-family: fantasy;
}

.number-white{
    font-size: xxx-large;
    padding-bottom: 0%;
    color: #93bd93;
    font-family: fantasy;
}

.info{
    padding-top: 30%;
    font-style: italic;
    font-size: small;
    color: gray;
}

.connect{
    margin-left: 2%;
    color: #3c742f;
}

.disconnect{
    margin-left: 2%;
    color: #ff3e3e;
}

.time{
    margin-right: 2%;
}

.screen{
    width: 14%;
    height: 80%;
    border-radius: 10px;
    margin-left: 2%;
}

.screen:hover{
    cursor: pointer;
}

