<div class="row1">
    <div class="col1">
        <img  [src]="currentIcon" width="150px" height="150px"/>
        <span class="username">{{username}}</span>
    </div>
    <div class="col">
        <span class="number">45</span>
        <span class="info">Parties jouées</span>
    </div>
    <div class="col">
        <span class="number">22</span>
        <span class="info">Parties gagnées</span>
    </div>
    <div class="col">
        <span class="number">323</span>
        <span class="info">Points en moyenne</span>
    </div>
    <div class="col2">
        <span class="number">34m20s</span>
        <span class="info">Temps moyen</span>
    </div>
</div>


