<div class="homeDiv">
    <div class="modesContainer">
        <h1>Application Scrabble</h1>
        <button mat-raised-button (click)="navModePage(true)" class="dataButton">Mode de jeu classique</button>
        <button mat-raised-button (click)="navModePage(false)" class="dataButton">Mode de jeu coopératif</button>
        <button mat-raised-button (click)="navModeTraining()" class="dataButton">Mode d'entrainement orthographe</button>
        <button mat-raised-button (click)="openProfile()" class="dataButton">Profil</button>
        <button mat-raised-button (click)="userDisconnect()" class="dataButton">Déconnexion</button>
    </div>
    <app-tips [autoSlide]="true"></app-tips>
</div>
