<div class="homeDiv" *ngIf="langue == 'fr'">
    <div class="modesContainer">
        <h1>Mode jeu {{this.mode}}</h1>
        <p>Créer ou rejoignez une partie {{this.mode}}</p>
        <button mat-raised-button (click)="createGame()" class="dataButton">Créer une partie</button>
        <button mat-raised-button (click)="navJoinGame()" class="dataButton">Rejoindre une partie</button>
        <button mat-raised-button (click)="navHome()" class="dataButton">Accueil</button>
    </div>
</div>

<div class="homeDiv" *ngIf="langue == 'en'">
    <div class="modesContainer">
        <h1>{{this.mode}} game mode</h1>
        <p>Create or join a {{this.mode}} game</p>
        <button mat-raised-button (click)="createGame()" class="dataButton">Create a game</button>
        <button mat-raised-button (click)="navJoinGame()" class="dataButton">Join a game</button>
        <button mat-raised-button (click)="navHome()" class="dataButton">Home</button>
    </div>
</div>
