.players{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: #ababab;
    border-radius: 12px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


}

.choice{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 20%;
    background-color: #d7d2d2;
    border-radius: 15px;
    
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset
}

.yes{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 20%;
    background-color: #1c8135;
    border-radius: 15px;
    
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset
}

.no{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 20%;
    background-color: #e75252;
    border-radius: 15px;
    
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset
}



.infos{
    height : 80%;
    display: flex;
    width: 50%;
    flex-direction: column;
    font-family: fantasy;
    font-size: large;
    font-family: fantasy;
    font-size: large;
    justify-content: space-evenly;
    color: #423434;
}

.dot-typing {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
    box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff, 10014px 0 0 0 #ffffff;
    animation: dot-typing 1.5s infinite linear;
  }
  
  @keyframes dot-typing {
    0% {
      box-shadow: 9984px 0 0 0 #fdfdfd, 9999px 0 0 0 #ffffff, 10014px 0 0 0 #fdfdfd;
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 #f9f9fa, 9999px 0 0 0 #faf9fc, 10014px 0 0 0 #fafafa;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 #f4f4f5, 9999px 0 0 0 #f7f7f8, 10014px 0 0 0 #fcfbff;
    }
    50% {
      box-shadow: 9984px 0 0 0 #edecf1, 9999px -10px 0 0 #f0eff3, 10014px 0 0 0 #f8f8fc;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 #f5f5f8, 9999px 0 0 0 #fffeff, 10014px 0 0 0 #f3f3f5;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 #f4f4f5, 9999px 0 0 0 #fafafa, 10014px -10px 0 0 #f7f7fa;
    }
    100% {
      box-shadow: 9984px 0 0 0 #fdfdff, 9999px 0 0 0 #fefeff, 10014px 0 0 0 #fefdff;
    }
  }



  .validate {
    width: 2em;
    height: 2em;
  }
  
  .validate path,
  .validate polygon,
  .validate rect {
    fill: #9fff5c;
  }
  
  .validate circle {
    stroke: #9fff5c;
    stroke-width: 2;
  }


  .invalidate {
    width: 2em;
    height: 2em;
  }
  
  .invalidate path,
  .invalidate polygon,
  .invalidate rect {
    fill: #c90c0c;
  }
  
  .invalidate circle {
    stroke: #c90c0c;
    stroke-width: 2;
  }

.choices{
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: center;
}

.command{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 4%;
}

span{
    font-family: serif;
    font-style: bold;
    font-size: x-large;
    font-weight: bold;
}

mat-dialog-container{
  background-color: #d7d2d2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 25px;
}


.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
  animation: moveUpDown 1.8s infinite;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 1000px;
}

.timer-text {
  font-size: 30px;
  font-family: revert;
  text-anchor: middle;
}

.circle {
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
}

.circle__background {
  stroke: #888989;
}

.circle__progress {
  stroke: #3f9540;
  animation: progress 0s infinite;
  transform-origin: 50% 50%;
}

.circle__progress--orange {
  stroke: orange;
  animation: progress 0s infinite;
  transform-origin: 50% 50%;
}

.circle__progress--red {
  stroke: red;
  animation: progress 0s infinite;
  transform-origin: 50% 50%;
}


@keyframes progress {
  0% {
      stroke-dashoffset: 0;
  }
  100% {
      stroke-dashoffset: 100;
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}