<div class="connexionDiv" >
    <div class="forms" *ngIf="!connected && !accountCreation">
      <mat-form-field class="example-full-width" [formGroup]="usernameForm">
        <mat-label>Username </mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field class="example-full-width" [formGroup]="passwordForm">
        <mat-label>Password </mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <section class="example-full-width" [formGroup]="rememberMeForm">
        <mat-label>Remember me </mat-label>
        <mat-checkbox type="checkbox" formControlName="remeberMe"></mat-checkbox> 
      </section>
      <button mat-raised-button  (click)="userConnection()" [disabled]="usernameForm.controls['username'].errors?.pattern || usernameForm.controls['username'].errors?.required
       || passwordForm.controls['password'].errors?.pattern || passwordForm.controls['password'].errors?.required || checkingConnection" class="dataButton">Connexion</button>
      <button mat-raised-button (click)="changeOption(true)" [disabled]="checkingConnection" class="dataButton">Créer un compte</button>
      
    </div>  
    <div class="forms" *ngIf="accountCreation" >
      <img  *ngIf="avatarChoosed" [src]="avatarChoosed" width="150px" height="150px" style="margin-bottom: 3% ;"/>
      <mat-form-field class="example-full-width" [formGroup]="emailForm"  matTooltip="{{getToolTip('email')}}" matTooltipClass="mytooltip" matTooltipPosition="above"> 
        <mat-label>Email</mat-label>
        <input matInput  type="email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="example-full-width" [formGroup]="usernameForm" matTooltipClass="mytooltip" matTooltip="{{getToolTip('username')}}" matTooltipPosition="above">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        </mat-form-field>
      <mat-form-field class="example-full-width" [formGroup]="passwordForm"  matTooltip="{{getToolTip('password')}}" matTooltipClass="my-tooltip">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button  class="avatarButton" (click)="chooseAvatar()">Choisir un avatar</button>
      <!-- 
      <img [src]="trustedUrl" width="50px" height="50px"/> -->
        
        
        
    <div class="creationButtons">
        <button mat-raised-button (click)="createAccount()" [disabled]="emailForm.controls['email'].errors?.pattern|| usernameForm.controls['username'].errors?.pattern || usernameForm.controls['username'].errors?.required
        || emailForm.controls['email'].errors?.required || passwordForm.controls['password'].errors?.pattern || passwordForm.controls['password'].errors?.required || avatarChoosed.length == 0" class="dataButton">
          Confirmer</button>
        <button mat-raised-button (click)="changeOption(false)" class="dataButton">Retour</button>
    </div>
    </div>
  

    
</div>
  

