
<div class="panel">
    <div class="gameinfos">
        <div [ngClass]="theme == 'white' ? 'tiles-perso-white' : 'tiles-perso'">
            <div class="number-perso">
                {{reserveTilesLeft}}
            </div>
            <span *ngIf="langue == 'fr'">Tuiles dans la réserve</span>
            <span *ngIf="langue == 'en'">Tiles in stock</span>
        </div>
        <div *ngIf="isClassic" class="timer-container">
            <svg viewBox="0 0 100 100" width="60" height="60">
                <circle class="circle circle__background" cx="50" cy="50" r="45"></circle>
                <circle #circleProgress [attr.class]="'circle ' + getCircleClass()" cx="50" cy="50" r="45"></circle>
                <text class="timer-text" [attr.fill]="getTextColor()" x="50" y="55">{{ clock }}</text>
            </svg>
        </div>
    </div>
    <div  [ngClass]="theme == 'white' ? 'players-white' : 'players'">
        <div *ngFor="let player of players" [ngClass]="getPlayerClass(player)">
            <img  [src]="player['icon']" width="80px" height="80px"/>
            <div class="infos">
                <span>{{player['username']}}</span>
                <div class="tiles" *ngIf="!isObserver">
                    <div class="number">
                        {{player['tilesLeft']}}
                    </div>
                    <span *ngIf="langue == 'fr'">Tuiles restantes</span>
                    <span *ngIf="langue == 'en'">Tiles left</span>
                </div>
                <div class="tiles" *ngIf="player.socket == socketId">
                    <div class="coin">
                        {{coins}}
                    </div>
                    <span *ngIf="langue == 'fr'">Pièces</span>
                    <span *ngIf="langue == 'en'">Coins</span>
                </div>
                <div class="tiles" *ngIf="isObserver">
                    <div class="number" *ngFor="let tile of player.tiles">
                        {{tile}}
                    </div>
                </div>
            </div>
            <div class="score">
                {{player['points']}}
            </div>
        </div>
    </div>
    <div [ngClass]="theme == 'white' ? 'time-buy-white' : 'time-buy'" *ngIf="isPlayersTurn && isClassic">
        <button mat-flat-button [ngClass]="theme == 'white' ? 'custom-button-white' : 'custom-button'" [disabled]="coins < 10 || game.time < clock+5" (click)="buyTime(5)">
            <span class="custom-content">
                <div class="buy">
                    10
                </div>
                +5s
            </span>
        </button>

        <button mat-flat-button [ngClass]="theme == 'white' ? 'custom-button-white' : 'custom-button'" [disabled]="coins < 20 || game.time < clock+10" (click)="buyTime(10)">
            <span class="custom-content">
                <div class="buy">
                    20
                </div>
                +10s
            </span>
        </button>

        <button mat-flat-button [ngClass]="theme == 'white' ? 'custom-button-white' : 'custom-button'" [disabled]="coins < 40 || game.time < clock+20" (click)="buyTime(20)">
            <span class="custom-content">
                <div class="buy">
                    40
                </div>
                +20s
            </span>
        </button>
    </div>

    <div class="options">
        <app-surrender-game *ngIf="!isObserver"></app-surrender-game>
        <button mat-raised-button *ngIf="isObserver && langue === 'fr'" class="quit-observer" color="warn" (click)="observerLeave()">Quitter</button>
        <button mat-raised-button *ngIf="isObserver && langue === 'en'" class="quit-observer" color="warn" (click)="observerLeave()">Leave</button>
        <button mat-raised-button class="screenshot" (click)="captureScreenshot()" *ngIf="langue === 'fr'">Capture d'écran</button>
        <button mat-raised-button class="screenshot" (click)="captureScreenshot()" *ngIf="langue === 'en'">Screenshot</button>
    </div>
    
    
</div>

<!-- <section class="container">
    <div class="topper">
        <h1 id="title-pannel">PANNEAU INFORMATIF</h1>
        <p> Tuiles restantes : {{ this.reserveTilesLeft }}</p>
        <p *ngIf="(isGameFinished && player.score >= opponent.score) || (isGameFinished && isAbandon)" id="win-message">Bravo vous avez gagné !</p>
        <p *ngIf="(isGameFinished && !isAbandon && player.score < opponent.score)" id="lose-message">Vous avez perdu !</p>
    </div>
    <div
        [ngClass]="{
            player: !isPlayersTurn && !isGameFinished,
            playerActive: isPlayersTurn && !isGameFinished,
            playerWinner: (isGameFinished && player.score >= opponent.score) || (isGameFinished && isAbandon),
            playerLoser: (isGameFinished && !isAbandon && player.score < opponent.score)
        }"
    >
        <p>{{ player.username }}</p>
        <img
            *ngIf="userphotos.has(player.username.toLocaleLowerCase())"
            id="image"
            [src]="userphotos.get(player.username.toLocaleLowerCase())"
            alt="opponent"
        />
        <img *ngIf="!userphotos.has(player.username.toLocaleLowerCase()) && isHost" class="image" src="https://bit.ly/3JmS8m6" [alt]="player.username" />
        <img *ngIf="!userphotos.has(player.username.toLocaleLowerCase()) && !isHost" class="image" src="https://bit.ly/34RebCv" [alt]="player.username" />
        <p class="score">{{ player.score }}</p>
        <img *ngIf="isPlayersTurn && !isGameFinished" class="timer" src="https://cdn-icons-png.flaticon.com/512/595/595686.png" alt="Timer" />
        <p *ngIf="isPlayersTurn && !isGameFinished" id="time">{{ clock }}</p>
        <h3 *ngIf="player.tilesLeft < 7" id="tile1">Tuiles restantes: {{ player.tilesLeft }}</h3>
    </div>
    <div
        [ngClass]="{
            opponent: isPlayersTurn && !isGameFinished,
            opponentActive: !isPlayersTurn && !isGameFinished
        }"
    >
        <p>{{ opponent.username }}</p>
        <img
            *ngIf="userphotos.has(opponent.username.toLocaleLowerCase())"
            id="image"
            [src]="userphotos.get(opponent.username.toLocaleLowerCase())"
            alt="opponent"
        />
        <img *ngIf="!userphotos.has(opponent.username.toLocaleLowerCase()) && !isHost" class="image" src="https://bit.ly/3JmS8m6" [alt]="opponent.username" />
        <img *ngIf="!userphotos.has(opponent.username.toLocaleLowerCase()) && isHost" class="image" src="https://bit.ly/34RebCv" [alt]="opponent.username" />
        <p class="score">{{ opponent.score }}</p>
        <img *ngIf="!isPlayersTurn && !isGameFinished" class="timer" src="https://cdn-icons-png.flaticon.com/512/595/595686.png" alt="Timer" />
        <p *ngIf="!isPlayersTurn && !isGameFinished" id="time">{{ clock }}</p>
        <h3 *ngIf="opponent.tilesLeft < 7" id="tile2">Tuiles restantes: {{ opponent.tilesLeft }}</h3>
    </div>
</section> -->
