.panel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gameinfos{
    width: 100%;
    border-radius: 12px;
    height: 10%;
    
    margin-bottom: 2%;
    font-family: fantasy;
    font-size: x-large;
    color: #423434;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.tiles-perso{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ababab;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
    animation: moveUpDown 1.8s infinite;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 1000px;
}

.timer-text {
    font-size: 30px;
    font-family: revert;
    text-anchor: middle;
  }

.circle {
    fill: none;
    stroke-width: 8;
    stroke-linecap: round;
}

.circle__background {
    stroke: #888989;
}

.circle__progress {
    stroke: #3f9540;
    animation: progress 0s infinite;
    transform-origin: 50% 50%;
}

.circle__progress--orange {
    stroke: orange;
    animation: progress 0s infinite;
    transform-origin: 50% 50%;
  }
  
  .circle__progress--red {
    stroke: red;
    animation: progress 0s infinite;
    transform-origin: 50% 50%;
  }


@keyframes progress {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 100;
    }
}

@keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

.number-perso{
    height: 50%;
    width: 15%;
    background-color: burlywood;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.options{
    display: flex;
    flex-direction: row;
    height: min-content;
    width: 100%;
    margin-top: 2%;
}

app-surrender-game{
    display: flex;
    width: 80%;
    height: 100%;
}

.quit-observer{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.screenshot{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: white;
    background-color: #3f9540;

}

.players{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: #ababab;
    border-radius: 12px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


}

.time-buy{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    background-color: #ababab;
    border-radius: 12px;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top: 2%;
}

.player{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 20%;
    background-color: #d7d2d2;
    border-radius: 15px;
    
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset
}

.player-active{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 20%;
    background-color: #3f9540;
    border-radius: 15px;
    
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset

}

.infos{
    height : 80%;
    display: flex;
    width: 50%;
    flex-direction: column;
    font-family: fantasy;
    font-size: large;
    font-family: fantasy;
    font-size: large;
    justify-content: space-evenly;
    color: #423434;
}

.tiles{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}



.number{
    height: 100%;
    width: 15%;
    background-color: burlywood;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.coin{
    height: 100%;
    width: 15%;
    background-color: #eeb501;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: white;
}

.buy{
    height: 60%;
    width: 30%;
    background-color: #eeb501;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: white;
}


.score{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: xx-large;
    color: #423434;
}

.custom-button{
    background-color: #ababab;
    width: 25%;
    height: 90%;
    color: white;
}

.mat-button.mat-button-disabled, .mat-icon-button.mat-button-disabled, .mat-stroked-button.mat-button-disabled, .mat-flat-button.mat-button-disabled {
    cursor: default;
    background-color: #ababab;
}

.custom-content{
    display: flex;
    flex-direction: row;
}


