<div [ngClass]="theme == 'white' ? 'homeDiv-white' : 'homeDiv-dark'" *ngIf="langue == 'fr'">
    <div [ngClass]="theme == 'white' ? 'modesContainer-white' : 'modesContainer-dark'">
        <h1 class="title">Liste des parties joignables mode "{{ mode }}"</h1>
        <div class="gameContainer" *ngFor="let game of gameList; let i = index">
            <mat-card *ngIf="game.isPrivate ? !game.isFullPlayers : !game.isFinished" class="example-card">
                <mat-card-header>
                    <mat-card-title>Partie de {{ game.hostUsername }}</mat-card-title>
                    <mat-card-subtitle *ngIf="!game.isPrivate && game.password">Publique (protégé par mot de passe)</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="!game.isPrivate && !game.password">Publique</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="game.isPrivate">Privée</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <h3>Réglages de la partie:</h3>
                        <!-- <mat-label><mat-icon>people</mat-icon> {{ game.humanPlayers }}</mat-label> -->
                        <!-- <mat-label *ngIf="game.isClassicMode"><mat-icon>smart_toy</mat-icon> {{ game.virtualPlayers }}</mat-label> -->
                        <mat-label *ngIf="game.isClassicMode"><mat-icon>timer</mat-icon> {{ game.time }} (s)</mat-label>
                        <mat-label><mat-icon>book</mat-icon> {{ game.dictionary.title }}</mat-label>
                    </div>
                    <div>
                        <h3 *ngIf="!game.hasStarted">Salle d'attente:</h3>
                        <h3 *ngIf="game.hasStarted">Partie en cours:</h3>
                        <button mat-button [matMenuTriggerFor]="menuPlayers">
                            <mat-label><mat-icon>people</mat-icon> {{ game.joinedPlayers.length }}</mat-label>
                          </button>
                          <mat-menu #menuPlayers>
                            <ng-container *ngFor="let joinedPlayer of game.joinedPlayers">
                              <button mat-menu-item>{{joinedPlayer.username}}</button>
                            </ng-container>
                          </mat-menu>
                        <!-- <mat-label><mat-icon>people</mat-icon> {{ game.joinedPlayers.length }}</mat-label> -->
                        <!-- <mat-label *ngIf="game.isClassicMode"><mat-icon>smart_toy</mat-icon> {{ game.virtualPlayers }}</mat-label> -->
                        <button mat-button *ngIf="game.isClassicMode" [matMenuTriggerFor]="menuVirtualPlayers">
                            <mat-label><mat-icon>smart_toy</mat-icon> {{ game.virtualPlayers }}</mat-label>
                          </button>
                          <mat-menu #menuVirtualPlayers>
                            <ng-container *ngFor="let item of [].constructor(game.virtualPlayers); let i = index">
                              <button mat-menu-item>Bot {{i+1}}</button>
                            </ng-container>
                          </mat-menu>
                        <!-- <mat-label *ngIf="!game.isPrivate"><mat-icon>visibility</mat-icon> {{ game.joinedObservers.length }}</mat-label> -->
                        <button mat-button *ngIf="!game.isPrivate" [matMenuTriggerFor]="menuObservers">
                            <mat-label><mat-icon>visibility</mat-icon> {{ game.joinedObservers.length }}</mat-label>
                          </button>
                          <mat-menu #menuObservers>
                            <ng-container *ngFor="let joinedObserver of game.joinedObservers">
                              <button mat-menu-item>{{joinedObserver.username}}</button>
                            </ng-container>
                          </mat-menu>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button
                        mat-raised-button
                        color="primary"
                        [disabled]="game.playersWaiting + game.joinedPlayers.length === 4 || game.hasStarted"
                        (click)="joinWaitingRoom(game)"
                    >
                        Rejoindre
                    </button>
                    <button *ngIf="!game.isPrivate" mat-raised-button color="accent" (click)="joinAsObserver(game)">Observer</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <button mat-raised-button color="primary" routerLink="/classique">Retour</button>
</div>

<div [ngClass]="theme == 'white' ? 'homeDiv-white' : 'homeDiv-dark'" *ngIf="langue == 'en'">
    <div [ngClass]="theme == 'white' ? 'modesContainer-white' : 'modesContainer-dark'">
        <h1 class="title">List of joignable games "{{ mode }}" mode</h1>
        <div class="gameContainer" *ngFor="let game of gameList; let i = index">
            <mat-card *ngIf="game.isPrivate ? !game.isFullPlayers : !game.isFinished" class="example-card">
                <mat-card-header>
                    <mat-card-title>Game of  {{ game.hostUsername }}</mat-card-title>
                    <mat-card-subtitle *ngIf="!game.isPrivate && game.password">Public (protected by a password)</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="!game.isPrivate && !game.password">Public</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="game.isPrivate">Private</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <h3>Game settings:</h3>
                        <mat-label><mat-icon>people</mat-icon> {{ game.humanPlayers }}</mat-label>
                        <mat-label *ngIf="game.isClassicMode"><mat-icon>smart_toy</mat-icon> {{ 4 - game.humanPlayers }}</mat-label>
                        <mat-label *ngIf="game.isClassicMode"><mat-icon>timer</mat-icon> {{ game.time }} (s)</mat-label>
                        <mat-label><mat-icon>book</mat-icon> {{ game.dictionary.title }}</mat-label>
                    </div>
                    <div>
                        <h3 *ngIf="!game.hasStarted">Waiting room:</h3>
                        <h3 *ngIf="game.hasStarted">Active game:</h3>
                        <mat-label><mat-icon>people</mat-icon> {{ game.joinedPlayers.length }}</mat-label>
                        <mat-label *ngIf="!game.isPrivate"><mat-icon>visibility</mat-icon> {{ game.joinedObservers.length }}</mat-label>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button
                        mat-raised-button
                        color="primary"
                        [disabled]="game.playersWaiting + game.joinedPlayers.length === game.humanPlayers || game.isFullPlayers"
                        (click)="joinWaitingRoom(game)"
                    >
                        Join
                    </button>
                    <button *ngIf="!game.isPrivate" mat-raised-button color="accent" (click)="joinAsObserver(game)">Observe</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <button mat-raised-button color="primary" routerLink="/classique">Back</button>
</div>
