<div class="homeDiv">
    <div class="modesContainer">
        <h1 class="title">Liste des parties joignables mode "{{ mode }}"</h1>
        <div class="gameContainer" *ngFor="let game of gameList; let i = index">
            <mat-card *ngIf="game.isPrivate ? !game.isFullPlayers : true" class="example-card">
                <mat-card-header>
                    <mat-card-title>Partie de {{ game.hostUsername }}</mat-card-title>
                    <mat-card-subtitle *ngIf="!game.isPrivate && game.password">Publique (protégé par mot de passe)</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="!game.isPrivate && !game.password">Publique</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="game.isPrivate">Privée</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <h3>Réglages de la partie:</h3>
                        <mat-label><mat-icon>people</mat-icon> {{ game.humanPlayers }}</mat-label>
                        <mat-label><mat-icon>smart_toy</mat-icon> {{ 4 - game.humanPlayers }}</mat-label>
                        <mat-label><mat-icon>timer</mat-icon> {{ game.time }} (s)</mat-label>
                        <mat-label><mat-icon>book</mat-icon> {{ game.dictionary.title }}</mat-label>
                    </div>
                    <div>
                        <h3>Salle d'attente:</h3>
                        <mat-label><mat-icon>people</mat-icon> {{ game.joinedPlayers.length }}</mat-label>
                        <mat-label *ngIf="!game.isPrivate"><mat-icon>visibility</mat-icon> {{ game.joinedObservers.length }}</mat-label>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button
                        mat-raised-button
                        color="primary"
                        [disabled]="game.playersWaiting + game.joinedPlayers.length === game.humanPlayers || game.isFullPlayers"
                        (click)="joinWaitingRoom(game)"
                    >
                        Rejoindre
                    </button>
                    <button *ngIf="!game.isPrivate" mat-raised-button color="accent" (click)="joinAsObserver(game)">Observer</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <button mat-raised-button color="primary" routerLink="/classique">Retour</button>
</div>
