#canvas
{
    //border: 1px solid black;
    //margin-left: 185px;

}


div{
  padding-left: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-right: 1%;
  width: max-content;
  background-color: cornsilk;
  height: max-content;/* 
  border-radius: 20px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 8px outset;
  border-color: #dbb773; */
  box-shadow: 16px 16px 16px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-left: 6.5%;

}




.exchange-button {
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 120px;
  height : 50px;
  justify-content: center;
  margin-left: 58px;
  margin-top: 10px;
  background-color: rgb(25, 66, 31);
  text-align: center;
}

// .exchange-button:hover {
//   box-shadow: 0 0 0 2px rgba(241, 148, 7, 0.2), 0 3px 8px 0 rgba(247, 189, 0, 0.144);
//   transform: scale(1.05) ;
//   outline: 0;
// }
// .cancel-button:hover {
//     box-shadow: 0 0 0 2px rgba(241, 148, 7, 0.2), 0 3px 8px 0 rgba(247, 189, 0, 0.144);
//     transform: scale(1.05) ;
//     outline: 0;
// }
