
<button  class="exchange-button"  (click)="openExchangeDialog()">Echanger</button>



<div class="rack-group">
    <canvas id="canvas" #chevaletCanvas (contextmenu)="rightMouseHitDetect($event)" (click)="leftMouseHitDetect($event)" [attr.width]="width" [attr.height]="height"></canvas>
    <ul class="list-box" cdkDropListOrientation="horizontal" cdkDropList (cdkDropListDropped)="drop($event)">
          <div class="tile-container">

          <div id ='tile0' class="example-box" [style.left.px]="position0.x" [style.top.px]="position0.y" *ngIf="items[0] && dragAccepted.includes(dragUsed)" cdkDrag #tile1>{{ items[0] }}</div> 
          <div id ='tile1' class="example-box" [style.left.px]="position1.x" [style.top.px]="position1.y" *ngIf="items[1] && dragAccepted.includes(dragUsed)" cdkDrag #tile2>{{ items[1] }}</div> 
          <div id ='tile2' class="example-box" [style.left.px]="position2.x" [style.top.px]="position2.y" *ngIf="items[2] && dragAccepted.includes(dragUsed)" cdkDrag #tile3>{{ items[2] }}</div> 
          <div id ='tile3' class="example-box" [style.left.px]="position3.x" [style.top.px]="position3.y" *ngIf="items[3] && dragAccepted.includes(dragUsed)" cdkDrag #tile4>{{ items[3] }}</div> 
          <div id ='tile4' class="example-box" [style.left.px]="position4.x" [style.top.px]="position4.y" *ngIf="items[4] && dragAccepted.includes(dragUsed)" cdkDrag #tile5>{{ items[4] }}</div> 
          <div id ='tile5' class="example-box" [style.left.px]="position5.x" [style.top.px]="position5.y" *ngIf="items[5] && dragAccepted.includes(dragUsed)" cdkDrag #tile6>{{ items[5] }}</div> 
          <div id ='tile6' class="example-box" [style.left.px]="position6.x" [style.top.px]="position6.y" *ngIf="items[6] && dragAccepted.includes(dragUsed)" cdkDrag #tile7>{{ items[6] }}</div> 
        </div>
      </ul>
</div>