.main{
  display: flex;
  flex-direction: row;
  width: min-content;
  height: min-content;
  align-items: center;
}


div.canvas{
  padding-left: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-right: 1%;
  width: max-content;
  background-color: cornsilk;
  height: max-content;/* 
  border-radius: 20px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 8px outset;
  border-color: #dbb773; */
  box-shadow: 16px 16px 16px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-left: 6.5%;

}




.exchange-button {
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 120px;
  height : 50px;
  justify-content: center;
  margin-left: 58px;
  margin-top: 10px;
  background-color: rgb(25, 66, 31);
  text-align: center;
}


.svg-icon {
  width: 8em;
    height: 5em;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-right: 2%;
}


@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.rotate-animation {
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

li{
  // position: absolute;
  position: fixed;
}


.example-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 57px;
  border: 1px solid #8b4513;
  border-radius: 5px;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-size: 24px;

  color: #000000;
  background-color: rgba(249, 224, 118, 255);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: grab;
  user-select: none;
  position: absolute;
  transition: 0.01s;
  z-index: 1;
}
// .example-box:active {
//   cursor: grabbing;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
// }

.list-box{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left:145px;
  position: relative;
  margin-top: 1px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #3f9540;
}

.svg-icon circle {
  stroke: #3f9540;
  stroke-width: 1;
}

// .exchange-button:hover {
//   box-shadow: 0 0 0 2px rgba(241, 148, 7, 0.2), 0 3px 8px 0 rgba(247, 189, 0, 0.144);
//   transform: scale(1.05) ;
//   outline: 0;
// }
// .cancel-button:hover {
//     box-shadow: 0 0 0 2px rgba(241, 148, 7, 0.2), 0 3px 8px 0 rgba(247, 189, 0, 0.144);
//     transform: scale(1.05) ;
//     outline: 0;
// }
