* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

.allButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;/* 
  max-width: 800px;
  margin:170px */
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #5F9E6E;
}


.homeDiv-white {
  /* max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.homeDiv-dark {
  /* max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #454646;
}



.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.startButton {
  background-color: #6e9071;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  height: 75px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bolder;
}

.startButton:hover {
  background-color: #115213;
}

.startButton-white {
  background-color: #9de3a4;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  height: 75px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bolder;
}

.startButton-white:hover {
  background-color: #6e9071;
}

// .image-container {
//   display: grid;
//   grid-template-columns: repeat(3,1fr);
//   grid-gap:10px;
//   margin-bottom: 20px;
// }

.container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:10px;
  margin-bottom: 20px;

}

.item-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  
}

p {
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: left;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.help-image {
  // position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  justify-content: center;
}

.text {
  font-size: 1rem;
  font-weight: bold;
  color: #0c3f18;
  text-align: center;
}
