<div class="main">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="newUsername">
          <mat-hint align="start" *ngIf="langue == 'fr'"><strong>5 caracteres minimum</strong> </mat-hint>
          <mat-hint align="start" *ngIf="langue == 'en'"><strong>5 characters minimum</strong> </mat-hint>
        </mat-form-field>
    <div class="buttons" *ngIf="langue == 'fr'">
        <button mat-raised-button color="warn" (click)="cancel()">Annuler</button>
        <button class="valid" mat-raised-button [disabled]="newUsername.length < 5" (click)="sendNewUsername()">Confirmer</button>
    </div>
    <div class="buttons" *ngIf="langue == 'en'">
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <button class="valid" mat-raised-button [disabled]="newUsername.length < 5" (click)="sendNewUsername()">Confirm</button>
  </div>
</div>



