<div class="homeDiv">
    <div class="modesContainer">
        <h1 mat-dialog-title>Salle d'attente de {{game.hostUsername}} </h1>
        <div class="game-lobby-container">
            <div class="users-list">
                <h2 class="joined-users">Joueurs</h2>
                <mat-list>
                    <mat-list-item *ngFor="let user of game.joinedPlayers">
                        <span mat-line>{{ user.username }}</span>
                    </mat-list-item>
                </mat-list>
            </div>

            <div class="observers-list" *ngIf="!game.isPrivate">
                <h2 class="joined-observers">Observateurs</h2>
                <mat-list>
                    <mat-list-item *ngFor="let observer of game.joinedObservers">
                        <span mat-line>{{ observer.username }}</span>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div class="waiting-players" *ngIf="!game.isFullPlayers">
            <h2>En attente de joueurs</h2>
            <div class="loading-spinner">
                <mat-spinner diameter="32"></mat-spinner>
            </div>
        </div>
        <div class="remaining-players">
            <h2>Joueurs restants pour démarrer la partie: {{ game.humanPlayers - game.joinedPlayers.length }}</h2>
        </div>

        <div class="buttons">
            <button mat-raised-button color="warn" (click)="cancelWaiting()" *ngIf="!isHost">Quitter</button>
            <button mat-raised-button color="primary" *ngIf="isHost" (click)="onCreateGameClick()" [disabled]="game.humanPlayers !== game.joinedPlayers.length">Lancer Partie</button>
            <button mat-button (click)="cancelMatch()" *ngIf="isHost">Annuler Partie</button>
        </div>
    </div>
</div>
